body {
    margin: 0;
    background-image: url('./images/pastel-watercolor-painted-background_23-2148959637.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    height: 100vh;
}

.input-area {
    margin-bottom: 1em;
}

#under-line {
    position: absolute;
    background-color: pink;
    height: 4px;
    width: 50px;
    top: 52px;
    padding: 0;
}

.task-area {
    border: 1px solid gray;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid gray;
    position: relative;
}

.task-tabs div {
    padding: 1em;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
}